#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2; /* Ensure circles stay in the foreground */
}

.butterfly {
  width: 100%;
  height: 100%;
  background-color: rgba(104, 48, 177, 0.9);
  border-radius: 50%;
  animation: move 10s forwards;
  cursor: pointer;
  transition: background-color 0.3s;
}

.butterfly:hover {
  background-color: transparent;
}


