$color-bg: #1d1d1d;
$color-font: #777;
$color-bar: #333;
$color-fork: #999;

$size-spacer: 5px;
$size-font: 14px / 1.5;

//
// Implementation
//

body {
  margin: 0;
  
  background: $color-bg;
  
  font: $size-font Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color-font;
  
  overflow: hidden;
}

canvas {
  margin-top: $size-spacer * 10;
}

.bar {
  position: relative;
  
  padding: $size-spacer;
  
  font-family: 'Anaheim', sans-serif;
  font-size: $size-spacer * 4;
  text-align: center;
  
  color: white;
  background-color: $color-bar;
}

.fork {
  display: flex;
  align-items: center;
  
  position: absolute;
  right: 0;
  top: 0;
  
  height: 100%;
  
  padding: 0 $size-spacer;
 
  background-color: $color-fork;
  
  text-decoration: none;
}

.fork__text {
  padding-right: $size-spacer;
  
  font-size: $size-font * 1.5;
  
  color: white;
}

.fork__img {
  margin-right: $size-spacer;
  width: $size-spacer * 6;
}